<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BarneyTheBayotSaur.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67F6FA2B1F20F5DC0026AE0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67F6FA3F1F20F5DC0026AE0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67F6FA4A1F20F5DC0026AE0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
